{*** pt 스튜디오 | proc/studio.php ***}
{ # header }

<!-- visual wrap -->
<div class="main-visual-wrap mb-60 ptstudio-visual-wrap" style="background-image: url('<!--{ @dataBanner('1180200664', true) }-->{.bannerImageUrl}<!--{ / }-->')">
	<div class="mw">
		<div class="main-visual-box">
			<h3 class="fr">physical project</h3>
			<h2 class="fr">pt studio</h2>
		</div>
	</div>
</div>
<!-- // visual wrap -->

<div class="main-info-wrap mb-113">
	<div class="physical-txt txt-ct">
		<h2 class="main-sub-tit mb-32 fr">Program Guide</h2>
	</div>

	<!-- program guide -->
	<div class="p-guide-wrap mw mb-60">
		<div class="p-guide-row">
			<div class="p-guide-item-box">
				<div class="p-guide-item-box-bg" style="background-image: url('/data/img/pt-02.png')"></div>
				<h2 class="mb-11">바디프로필 프로그램</h2>
				<p class="df">한번쯤은 도전해 보고 싶은 바디 프로필 더 이상 선수들의<br>
				전유물이 아닙니다. 전문성을 띄고 있는 트레이너들과<br>
				함께 성공할 수 있습니다.
				</p>
			</div>
			<div class="p-guide-item-box">
				<div class="p-guide-item-box-bg" style="background-image: url('/data/img/pt-03.png')"></div>
				<h2 class="mb-11">체력증진 프로그램</h2>
				<p class="df">체성분 검사 및 식단 상담을 통해 나에게 필요한<br>
				체력증진 운동 방법을 설정해드립니다.</p>
			</div>
			<div class="p-guide-item-box">
				<div class="p-guide-item-box-bg" style="background-image: url('/data/img/pt-04.png')"></div>
				<h2 class="mb-11">자세교정 프로그램</h2>
				<p class="df">체형과 자세가 사람마다 다름으로 운동 전 정확한<br>
				상담을 통해 운동의 방향을 설정 후 적합한 수업을 진행합니다.</p>
			</div>
		</div>
	</div>

	<!-- program studio -->
	<div class="p-studio-wrap pt-140">
		<div class="mw">
			<div class="p-studio-col-3">
				<h2 class="main-sub-tit fr">PT STUDIO</h2>
				<p class="main-sub-tit">이런분들에게 추천해요.</p>
			</div>
			<div class="p-studio-col-9">
				<div class="p-studio-sub-col">
					<img src="/data/img/pti-01.png" class="mb-17">
					<p class="df">각각의 운동마다 더 효율적인<br>운동방법에 대해 알고 싶은 분</p>
				</div>
				<div class="p-studio-sub-col">
					<img src="/data/img/pti-02.png" class="mb-17">
					<p class="df">자신의 운동 수행 능력을 보다<br>업그레이드 하고 싶은 분</p>
				</div>
				<div class="p-studio-sub-col">
					<img src="/data/img/pti-03.png" class="mb-17">
					<p class="df">FITT 측정평가로 효과적인<br>운동 처방을 받고 싶은 분</p>
				</div>
				<div class="p-studio-sub-col">
					<img src="/data/img/pti-04.png" class="mb-17">
					<p class="df">확실한 동기부여와 운동목표를<br>단시간에 달성하고 싶은 분</p>
				</div>
				<div class="p-studio-sub-col">
					<img src="/data/img/pti-05.png" class="mb-17">
					<p class="df">정확한 자세로 부상 없이<br>안전하게 운동하고 싶은 분</p>
				</div>
				<div class="p-studio-sub-col">
					<img src="/data/img/pti-06.png" class="mb-17">
					<p class="df">매번 작심삼일, 의지박약으로<br>꾸준하게 운동하고 싶은 분</p>
				</div>
			</div>
		</div>
	</div>
	<!-- // program studio -->

	<!-- pt studio event -->
	<div class="p-event-wrap txt-ct mb-113">
		<!--{ @dataBanner('6542589') }-->{.tag}<!--{ / }-->
		<!-- 
		<h2 class="mb-11">5월 PT STUDIO 혜택</h2>
		<p class="df mb-11">5월 한달 PT STUDIO 신청자에 한하여 FVITTE의류 할인혜택을 드립니다.</p>
		<a href="/#">자세히보기</a>
		-->
	</div>
	<!-- // pt studio event -->		

	<!-- pt studio footer -->
	<div class="p-footer-wrap mw">
		<!-- txt -->
		<div class="p-ft-txt mb-139">
			<h2 class="main-sub-tit mb-32">니즈에 따른 다양하게 구성된 PT STUDIO만의 퍼스널 트레이닝<br>
			프로그램을 제안받으세요. 지루하지 않고 즐겁게 운동의 재미와 효과를<br>
			동시에 누릴 수 있습니다.</h2>
			<img src="/data/img/pt-06.png" class="mb-42">
			<div class="p-ft-txt-imginfo">
				<h2>든든한 동반자가<br>되어드립니다.</h2>
				<p>PT STUDIO는 담당 회원 모두 활기찬 라이프스타일을 누릴 수 있도록 돕는 것이<br>
				기본 사명입니다. 누구나 전문 트레이너처럼 운동하는 것의 어려움을 잘 이해하고,<br>
				회원의 일상 스케줄을 고려한 퍼스널 트레이닝을 실시합니다.</p>
			</div>
			<div class="p-ft-txt-row">
				<div class="p-ft-txt-col">
					<img src="/data/img/pt-07.png">
				</div>
				<div class="p-ft-txt-col">
					<img src="/data/img/pt-08.png">
				</div>
			</div>
		</div>
		<!-- // txt -->

		<!-- banner -->
		<div class="p-ft-ad mb-139">
			<!--{ @dataBanner('959730278') }-->{.tag}<!--{ / }-->
		</div>
		<!-- // banner -->

		<!-- contact -->
		<div class="p-ft-ctt">
			<h2 class="main-sub-tit fr">CONTACT</h2>
			<div class="p-ft-ctt-col">
				<div class="p-ft-ctt-img" style="background-image: url('/data/img/pt-10.png')"></div>
			</div>
			<div class="p-ft-ctt-col">
				<h3 class="mb-42">PT STUDIO 고객센터로 문의하시면 최대한 빠르게 답변 드리겠습니다.<br>
				상담 운영시간 : 평일 10:00 ~ 17:00</h3>
				<div class="p-ft-ctt-btn-area">
					<a href="/#">카카오톡 상담</a>
					<a href="/#">1588-7850</a>
				</div>
			</div>
		</div>
		<!-- // contact -->
	</div>
	<!-- // pt studio footer -->
	</div>
</div>
<script>
	$('#container').css('max-width', 'unset')
</script>
{ # footer }